$background-color: #EEEEEE;
$text-color: #222831;
$neutral1-color: #393E46;
$error-color: #f01b1b;

$primary-color: #00ADB5;
$primary-hover-color: #06c6d0;
$primary-pressed-color: #11dae5;
$primary-active-color: #20e8f2;
$primary-disabled-color: #a9fbff;

$secondary-color: #d5deea;
$secondary-hover-color: #c2ccda;
$secondary-pressed-color: #a5b0bf;
$secondary-active-color: #8a96a7;
$secondary-disabled-color: #ebf5ff;

$delete-button-color: #B30900;
$delete-button-hover-color: #c61209;
$delete-button-pressed-color: #d71e14;
$delete-button-active-color: #e82f25;
$delete-button-disabled-color: #ffada8;
