@font-face {
  font-family: TitleFont;
  src: url('~assets/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: TextFontRegular;
  src: url('~assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
}

@font-face {
  font-family: TextFontBold;
  src: url('~assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
}
