@import 'app/styles/colors.scss';
@import 'app/styles/fonts.scss';
@import 'app/styles/buttons-styles.scss';

body{
  background-color: $background-color;
  color: $text-color;
}

h1, h2{
  font-family: TitleFont !important;

  @media (max-width: 765px) {
    text-align: center;
  }
}

label{
  font-family: TextFontRegular !important;
}

input, select, textarea{
  background-color: white;
  border-radius: 13px;
  padding: 12px;
  border: none;
}

input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

form {
  display: flex;
  flex-direction: column;

  label {
    margin-top: 10px;
    margin-bottom: 3px;
  }

  .error-message {
    color: $error-color;
  }

  .button-container {
    margin-top: 20px;
    display: flex;

    .primary-button {
      width: 100%;
    }

    .secondary-button {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}

.toast-container {
  z-index: 2;
  background-color: white;
  color: $error-color;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  margin-right: 8px;
  margin-top: 8px;
  border-radius: 20px;
  display: none;
}